<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Create new user</h1>
    <form method="post">
        <div>
        <label for="first-name" class="new-user-label">First Name</label>
        <div class="input-field">
            <input type="text" name="first-name" placeholder="Enter first name" class="input">
        </div>
        </div>

        <label for="last-name" class="new-user-label">Last Name</label>
        <div class="input-field">
            <input type="text" name="last-name" placeholder="Enter last name" class="input">
        </div>

        <label for="image-url" class="new-user-label">Profile image url</label>
        <div class="input-field">
            <input type="text" name="image-url" placeholder="Enter profile image url" class="input">
        </div>

        <div>
            <button type="submit" id="new-user-button">Add user</button>
        </div>
    </form>
    <a href="/users">Go back</a>
</body>
</html>