<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tags</title>
</head>
<body>
    <h1>Tags</h1>
    <ul>
        {% for tag in tags %}
        <li><a href="/tags/{{tag.id}}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>

    <form>
        <button formaction="/tags/new">Add Tag</button>
    </form>

    <a href="/users">Go home</a>
</body>
</html>